
textapp/node_modules/.bin/electron
*.cmd
*.ps1
textapp/node_modules/.bin/extract-zip
*.ts
*.js
*.md
*.json
*.dat
*.dll
*.pak
*.map
*.yml
*.xml
*.lock
*.iml
*.bnf
*.flow
*.txt
*.exe
*.bin
textapp/node_modules/@electron/get/LICENSE
textapp/node_modules/@sindresorhus/is/license
textapp/node_modules/@szmarczak/http-timer/LICENSE
textapp/node_modules/@types/node/LICENSE
textapp/node_modules/@types/yauzl/LICENSE
textapp/node_modules/buffer-crc32/LICENSE
textapp/node_modules/cacheable-request/LICENSE
textapp/node_modules/cacheable-request/node_modules/lowercase-keys/license
textapp/node_modules/clone-response/LICENSE
textapp/node_modules/config-chain/LICENCE
textapp/node_modules/config-chain/readme.markdown
textapp/node_modules/debug/LICENSE
textapp/node_modules/decompress-response/license
textapp/node_modules/defer-to-connect/LICENSE
textapp/node_modules/define-properties/.editorconfig
textapp/node_modules/define-properties/.eslintrc
textapp/node_modules/define-properties/.nycrc
textapp/node_modules/define-properties/LICENSE
textapp/node_modules/detect-node/LICENSE
textapp/node_modules/duplexer3/license
textapp/node_modules/electron/dist/LICENSE
textapp/node_modules/electron/dist/LICENSES.chromium.html
textapp/node_modules/electron/dist/resources/default_app.asar
textapp/node_modules/electron/dist/version
textapp/node_modules/electron/LICENSE
textapp/node_modules/encodeurl/LICENSE
textapp/node_modules/end-of-stream/LICENSE
textapp/node_modules/env-paths/license
textapp/node_modules/escape-string-regexp/license
textapp/node_modules/extract-zip/LICENSE
textapp/node_modules/fd-slicer/.npmignore
textapp/node_modules/fd-slicer/LICENSE
textapp/node_modules/fs-extra/LICENSE
textapp/node_modules/function-bind/.editorconfig
textapp/node_modules/function-bind/.eslintrc
textapp/node_modules/function-bind/.npmignore
textapp/node_modules/function-bind/LICENSE
textapp/node_modules/function-bind/test/.eslintrc
textapp/node_modules/get-intrinsic/.eslintrc
textapp/node_modules/get-intrinsic/.nycrc
textapp/node_modules/get-intrinsic/LICENSE
textapp/node_modules/get-stream/license
textapp/node_modules/global-agent/.flowconfig
textapp/node_modules/global-agent/LICENSE
textapp/node_modules/global-agent/node_modules/semver/LICENSE
textapp/node_modules/global-tunnel-ng/.editorconfig
textapp/node_modules/global-tunnel-ng/.eslintignore
textapp/node_modules/global-tunnel-ng/LICENSE
textapp/node_modules/globalthis/.eslintrc
textapp/node_modules/globalthis/.nycrc
textapp/node_modules/globalthis/LICENSE
textapp/node_modules/got/license
textapp/node_modules/got/node_modules/get-stream/license
textapp/node_modules/graceful-fs/LICENSE
textapp/node_modules/has-property-descriptors/.eslintrc
textapp/node_modules/has-property-descriptors/.nycrc
textapp/node_modules/has-property-descriptors/LICENSE
textapp/node_modules/has-symbols/.eslintrc
textapp/node_modules/has-symbols/.nycrc
textapp/node_modules/has-symbols/LICENSE
textapp/node_modules/has/LICENSE-MIT
textapp/node_modules/http-cache-semantics/LICENSE
textapp/node_modules/ini/LICENSE
textapp/node_modules/json-buffer/.npmignore
textapp/node_modules/json-buffer/LICENSE
textapp/node_modules/json-stringify-safe/.npmignore
textapp/node_modules/json-stringify-safe/LICENSE
textapp/node_modules/json-stringify-safe/Makefile
textapp/node_modules/json-stringify-safe/test/mocha.opts
textapp/node_modules/jsonfile/LICENSE
textapp/node_modules/keyv/LICENSE
textapp/node_modules/lodash/flake.nix
textapp/node_modules/lodash/LICENSE
textapp/node_modules/lowercase-keys/license
textapp/node_modules/lru-cache/LICENSE
textapp/node_modules/matcher/license
textapp/node_modules/mimic-response/license
textapp/node_modules/normalize-url/license
textapp/node_modules/npm-conf/license
textapp/node_modules/object-keys/.editorconfig
textapp/node_modules/object-keys/.eslintrc
textapp/node_modules/object-keys/LICENSE
textapp/node_modules/once/LICENSE
textapp/node_modules/p-cancelable/license
textapp/node_modules/pend/LICENSE
textapp/node_modules/pify/license
textapp/node_modules/prepend-http/license
textapp/node_modules/progress/LICENSE
textapp/node_modules/progress/Makefile
textapp/node_modules/proto-list/LICENSE
textapp/node_modules/pump/LICENSE
textapp/node_modules/responselike/LICENSE
textapp/node_modules/roarr/LICENSE
textapp/node_modules/semver-compare/LICENSE
textapp/node_modules/semver-compare/readme.markdown
textapp/node_modules/semver/LICENSE
textapp/node_modules/serialize-error/license
textapp/node_modules/sprintf-js/dist/.gitattributes
textapp/node_modules/sprintf-js/LICENSE
textapp/node_modules/sumchecker/LICENSE
textapp/node_modules/to-readable-stream/license
textapp/node_modules/tunnel/LICENSE
textapp/node_modules/type-fest/license
textapp/node_modules/universalify/LICENSE
textapp/node_modules/url-parse-lax/license
textapp/node_modules/wrappy/LICENSE
textapp/node_modules/yallist/LICENSE
textapp/node_modules/yauzl/LICENSE
